FORMAT: 1A
HOST: http://downing.club/

# Music-Mecca API

Music Mecca is a source for information about musicians and bands, as well as the music they release.

# Group Artists

Artists are all musicians stored in our database. That includes solo artists or bands.

## Artist [/artists/{artistId}]

+ Model (application/json)
            + Headers
              Location: http://downing.club/artists/2

    + Body

            {
                "id": 2,
                "name": "Eminem",
                "bio": "Eminem bio",
                "photo": Raw photo data,
                "videos": [
                    {
                        "id": 2,
                        "name": "Mockingbird",
                        "year": "1998"
                    }
                ],
                "label": {
                    "id": 2,
                    "name": "Slim Shady Records",
                    "bio": "Bio goes here"
                },
                "awards": [
                    {
                        "id": 3,
                        "name": "Album of the Year",
                        "year": "2012"
                    },
                    {
                        "id": 4,
                        "name": "Billboard Top 40",
                        "year": "2008"
                    }
                ],
                "concerts": [
                    {
                        "id": 3,
                        "name": "1989 Tour",
                        "location": "Austin",
                        "date": "2015-07-04 13:00:00-00"
                    },
                    {
                        "id": 4,
                        "name": "Warp Tour",
                        "location": "Alton",
                        "date": "2015-31-04 16:00:00-00"
                    }
                ],
                "releases": [
                    {
                        "id": 3,
                        "name": "Curtain Call",
                        "year": "1989"
                    },
                    {
                        "id": 4,
                        "name": "Relapse",
                        "year": "2010"
                    }
                ]
            }

### Get an Artist [GET]
+ Parameters
    + artistId (id) - ID of the Artist

+ Response 200
[Artist][]

## Artist Collection [/artists]

+ Model (application/json)

    + Body

            {
                "count": 2,
                "results": [
                    {
                        "id": 1,
                        "name": "Taylor Swift",
                        "bio": "Taylor Swift bio",
                        "photo": Raw photo data,
                        "videos": [
                            {
                                "id": 1,
                                "name": "Too Cool For School",
                                "year": "1989"
                            }
                        ],
                        "label": {
                            "id": 1,
                            "name": "Big Machine Records",
                            "bio": "Bio goes here"
                        },
                        "awards": [
                            {
                                "id": 1,
                                "name": "Album of the Year",
                                "year": "2015"
                            },
                            {
                                "id": 2,
                                "name": "Billboard Top 40",
                                "year": "2006"
                            }
                        ],
                        "concerts": [
                            {
                                "id": 1,
                                "name": "1989 Tour",
                                "location": "Austin",
                                "date": "2015-07-04 13:00:00-00"
                            },
                            {
                                "id": 2,
                                "name": "Warp Tour",
                                "location": "Alton",
                                "date": "2015-31-04 16:00:00-00"
                            }
                        ],
                        "releases": [
                            {
                                "id": 1,
                                "name": "Too Cool For School",
                                "year": "1989"
                            },
                            {
                                "id": 2,
                                "name": "Just Dance",
                                "year": "2010"
                            }
                        ]


                    },
                    {
                        "id": 2,
                        "name": "Eminem",
                        "bio": "Eminem bio",
                        "photo": Raw photo data,
                        "videos": [
                            {
                                "id": 2,
                                "name": "Mockingbird",
                                "year": "1998"
                            }
                        ],
                        "label": {
                            "id": 2,
                            "name": "Slim Shady Records",
                            "bio": "Bio goes here"
                        },
                        "awards": [
                            {
                                "id": 3,
                                "name": "Album of the Year",
                                "year": "2012"
                            },
                            {
                                "id": 4,
                                "name": "Billboard Top 40",
                                "year": "2008"
                            }
                        ],
                        "concerts": [
                            {
                                "id": 3,
                                "name": "1989 Tour",
                                "location": "Austin",
                                "date": "2015-07-04 13:00:00-00"
                            },
                            {
                                "id": 4,
                                "name": "Warp Tour",
                                "location": "Alton",
                                "date": "2015-31-04 16:00:00-00"
                            }
                        ],
                        "releases": [
                            {
                                "id": 3,
                                "name": "Curtain Call",
                                "year": "1989"
                            },
                            {
                                "id": 4,
                                "name": "Relapse",
                                "year": "2010"
                            }
                        ]


                    }
                ]
            }

### List All Artists [GET]

+ Response 200

    [Artist Collection][]

# Group Songs

Songs are any pieces of music the artist has created.

## Song [/songs/{songId}]

+ Model (application/json)
            + Headers
              Location: http://downing.club/songs/2

    + Body

            {
                "id": 2,
                "name": "Eminem",
                "lyrics": "blah blah blah",
                "uri": "/songs/2",
                "audioUrl": "www.youtube.com/blahblahblah",
                "video": {
                    "id": 1,
                    "name": "Fack Video",
                    "year": "2003"
                }
            }

### Get a Song [GET]
+ Parameters
    + songId (id) - ID of the Song

+ Response 200
[Song][]

# Group Awards

Any award the Artist has acquired.

## Award [/awards/{awardId}]

+ Model (application/json)
            + Headers
              Location: http://downing.club/awards/2

    + Body

            {
                "id": 4,
                "name": "Billboard Top 40",
                "year": "2008"
            }

### Get an Award [GET]
+ Parameters
    + awardId (id) - ID of the Award

+ Response 200
[Award][]

# Group Labels

Any label the Artist has been part of.

## Label [/labels/{labelId}]

+ Model (application/json)
            + Headers
              Location: http://downing.club/labels/2

    + Body

            {
                "id": 2,
                "name": "Slim Shady Records",
                "bio": "Bio goes here"
            }

### Get a Label [GET]
+ Parameters
    + labelId (id) - ID of the Label

+ Response 200
[Label][]

# Group Releases

Any release the Artist has released.

## Release [/releases/{releaseId}]

+ Model (application/json)
            + Headers
              Location: http://downing.club/releases/2

    + Body

            {
                "id": 4,
                "name": "Relapse",
                "year": "2010"
            }

### Get a Release [GET]
+ Parameters
    + releaseId (id) - ID of the Release

+ Response 200
[Release][]

# Group Concert

Any concert the Artist will take part in.

## Concert [/concerts/{concertId}]

+ Model (application/json)
            + Headers
              Location: http://downing.club/concerts/2

    + Body

            {
                "id": 4,
                "name": "Relapse",
                "year": "2010"
            }

### Get a Concert [GET]
+ Parameters
    + concertId (id) - ID of the Concert

+ Response 200
[Concert][]

# Group Video

Any video the Artist has taken part in.

## Video [/videos/{videoId}]

+ Model (application/json)
            + Headers
              Location: http://downing.club/videos/2

    + Body

            {
                "id": 4,
                "name": "Relapse",
                "year": "2010"
            }

### Get a Video [GET]
+ Parameters
    + videoId (id) - ID of the Video

+ Response 200
[Video][]
