FORMAT: 1A
HOST: http://downing.club/

# Music-Mecca API

Music Mecca is a source for information about musicians and bands, as well as the music they release.

# Group Artists

Artists are all musicians stored in our database. That includes solo artists or bands.

## Artist [/artists/{artistId}]

+ Model (application/json)
            + Headers
              Location: http://downing.club/artists/1

    + Body

            {
                "id": 1,
                "uri": "/artists/1"
                "name": "Chon",
                "bio": "Chon bio",
                "large_image": "https://i.scdn.co/image/bb6bb58b42afeb0fdd13922ec0d138e6734421e1",
                "medium_image": "https://i.scdn.co/image/84fa3ab218c3ab1a6dd5b1333fdb507472d9b132",
                "small_image": "https://i.scdn.co/image/c62b0a6c13233672632b95da7a80200a56d7d189",
                "spotify_url": "https://open.spotify.com/artist/2JFljHPanIjYy2QqfNYvC0",
                "label":
                {
                    "uri":"labels/3"
                },
                "awards": [
                    {
                        "uri": "awards/3"
                    },
                    {
                        "uri": "awards/4"
                    }
                ],
                "concerts": [
                    {
                        "uri":"concerts/3"
                    },
                    {
                        "uri":"concerts/4"
                    }
                ],
                "releases": [
                    {
                        "uri":"/releases/1"
                    },
                    {
                        "uri":"/releases/2"
                    },
                    {
                        "uri":"/releases/3"
                    }
                ]
            }

### Get an Artist [GET]
+ Parameters
    + artistId (id) - ID of the Artist

+ Response 200
[Artist][]

## Artist Collection [/artists]

+ Model (application/json)

    + Body

            [
                {
                    "id": 1,
                    "uri": "/artists/1"
                    "name": "Chon",
                    "bio": "Chon bio",
                    "large_image": "https://i.scdn.co/image/bb6bb58b42afeb0fdd13922ec0d138e6734421e1",
                    "medium_image": "https://i.scdn.co/image/84fa3ab218c3ab1a6dd5b1333fdb507472d9b132",
                    "small_image": "https://i.scdn.co/image/c62b0a6c13233672632b95da7a80200a56d7d189",
                    "spotify_url": "https://open.spotify.com/artist/2JFljHPanIjYy2QqfNYvC0",
                    "label":
                    {
                        "uri":"labels/3"
                    },
                    "awards": [
                        {
                            "uri": "awards/3"
                        },
                        {
                            "uri": "awards/4"
                        }
                    ],
                    "concerts": [
                        {
                            "uri":"concerts/3"
                        },
                        {
                            "uri":"concerts/4"
                        }
                    ],
                    "releases": [
                        {
                            "uri":"/releases/1"
                        },
                        {
                            "uri":"/releases/2"
                        },
                        {
                            "uri":"/releases/3"
                        }
                    ]
                }
                {
                    "id": 2,
                    "uri": "/artists/2"
                    "name": "La Dispute",
                    "bio": "La Dispute bio",
                    "large_image": "https://i.scdn.co/image/bb6bb58b42afeb0fdd13922ec0d138e6734421e1",
                    "medium_image": "https://i.scdn.co/image/84fa3ab218c3ab1a6dd5b1333fdb507472d9b132",
                    "small_image": "https://i.scdn.co/image/c62b0a6c13233672632b95da7a80200a56d7d189",
                    "spotify_url": "https://open.spotify.com/artist/7lQKE6HaKQcCsgLRMhsh5W",
                    "label":
                    {
                        "uri":"labels/2"
                    },
                    "awards": [
                    ],
                    "concerts": [
                        {
                            "uri":"concerts/5"
                        },
                        {
                            "uri":"concerts/6"
                        }
                    ],
                    "releases": [
                        {
                            "uri":"/releases/4"
                        },
                        {
                            "uri":"/releases/5"
                        },
                        {
                            "uri":"/releases/6"
                        }
                    ]
                }
            ]

### List All Artists [GET]

+ Response 200

    [Artist Collection][]

## Search Artist [/artists/{artistName}]

+ Model (application/json)
            + Headers
              Location: http://downing.club/artists/Chon

    + Body
    
            [
                {
                    "id": 1,
                    "uri": "/artists/1"
                    "name": "Chon",
                    "bio": "Chon bio",
                    "large_image": "https://i.scdn.co/image/bb6bb58b42afeb0fdd13922ec0d138e6734421e1",
                    "medium_image": "https://i.scdn.co/image/84fa3ab218c3ab1a6dd5b1333fdb507472d9b132",
                    "small_image": "https://i.scdn.co/image/c62b0a6c13233672632b95da7a80200a56d7d189",
                    "spotify_url": "https://open.spotify.com/artist/2JFljHPanIjYy2QqfNYvC0",
                    "label":
                    {
                        "uri":"labels/3"
                    },
                    "awards": [
                        {
                            "uri": "awards/3"
                        },
                        {
                            "uri": "awards/4"
                        }
                    ],
                    "concerts": [
                        {
                            "uri":"concerts/3"
                        },
                        {
                            "uri":"concerts/4"
                        }
                    ],
                    "releases": [
                        {
                            "uri":"/releases/1"
                        },
                        {
                            "uri":"/releases/2"
                        },
                        {
                            "uri":"/releases/3"
                        }
                    ]
                }
            ]
            
### Search an Artist [GET]
+ Parameters
    + artistName (string) - Name of the artist being searched for

+ Response 200
    [Search Artist][]

# Group Songs

Songs are any pieces of music the artist has created.

## Song [/songs/{songId}]

+ Model (application/json)
            + Headers
              Location: http://downing.club/songs/1

    + Body

            {
                uri: "/songs/1",
                lyrics: "Drift Lyrics",
                preview_url: "https://p.scdn.co/mp3-preview/dbcb8c0026f2fb3a846921c0510e95208aaa6672",
                disc_number: 1,
                duration: 36266,
                spotify_url: "https://open.spotify.com/track/7tLOWKtpmOizfNb1dRjvDC",
                id: 1,
                releases: [
                {
                    uri: "/releases/1"
                }
                ],
                name: "Drift",
                track_num: 1
            }

### Get a Song [GET]
+ Parameters
    + songId (id) - ID of the Song
    
+ Response 200
[Song][]

## Search Song [/songs/{songName}]

+ Model (application/json)
            + Headers
              Location: http://downing.club/songs/Drift

    + Body

            [
                {
                    uri: "/songs/1",
                    lyrics: "Drift Lyrics",
                    preview_url: "https://p.scdn.co/mp3-preview/dbcb8c0026f2fb3a846921c0510e95208aaa6672",
                    disc_number: 1,
                    duration: 36266,
                    spotify_url: "https://open.spotify.com/track/7tLOWKtpmOizfNb1dRjvDC",
                    id: 1,
                    releases: [
                    {
                        uri: "/releases/1"
                    }
                    ],
                    name: "Drift",
                    track_num: 1
                }
            ]
            
### Search a Song [GET]
+ Parameters
    + songName (String) - Name of the desired song
    
+ Response 200
[Search Song][]



# Group Awards

Any award the Artist has acquired.

## Award [/awards/{awardId}]

+ Model (application/json)
            + Headers
              Location: http://downing.club/awards/2

    + Body

            {
                "id": 4,
                "name": "Billboard Top 40",
                "year": "2008"
            }

### Get an Award [GET]
+ Parameters
    + awardId (id) - ID of the Award

+ Response 200
[Award][]

# Group Labels

Any label the Artist has been part of.

## Label [/labels/{labelId}]

+ Model (application/json)
            + Headers
              Location: http://downing.club/labels/1

    + Body

            {
                bio: "Rise Records Bio",
                id: 1,
                artists: [
                {
                    uri: "/artists/3"
                }
                ],
                uri: "/labels/1",
                name: "Rise Records",
                photo: "https://en.wikipedia.org/wiki/Rise_Records#/media/File:Rise_Records_Press_Logo.jpg"
            }

### Get a Label [GET]
+ Parameters
    + labelId (id) - ID of the Label

+ Response 200
[Label][]

## Search Label [/labels/{labelName}]

+ Model (application/json)
            + Headers
              Location: http://downing.club/labels/Rise+Records

    + Body
    
            [
            {
                bio: "Rise Records Bio",
                id: 1,
                artists: [
                {
                    uri: "/artists/3"
                }
                ],
                uri: "/labels/1",
                name: "Rise Records",
                photo: "https://en.wikipedia.org/wiki/Rise_Records#/media/File:Rise_Records_Press_Logo.jpg"
            }
            ]
            
### Search for a Label [GET]
+Parameters
    + labelName (String) - Name of the label
    
+ Response 200
[Search Label][]

# Group Releases

Any release the Artist has released.

## Release [/releases/{releaseId}]

+ Model (application/json)
            + Headers
              Location: http://downing.club/releases/1

    + Body

            {
                medium_image: "https://i.scdn.co/image/84fa3ab218c3ab1a6dd5b1333fdb507472d9b132",
                large_image: "https://i.scdn.co/image/bb6bb58b42afeb0fdd13922ec0d138e6734421e1",
                small_image: "https://i.scdn.co/image/c62b0a6c13233672632b95da7a80200a56d7d189",
                type: "album",
                songs: [
                {
                    uri: "/songs/1"
                },
                {
                    uri: "/songs/2"
                },
                {
                    uri: "/songs/3"
                },
                {
                    uri: "/songs/4"
                },
                {
                    uri: "/songs/5"
                },
                ],
                id: 1,
                year: 2015,
                uri: "/releases/1",
                name: "Grow",
                spotify_url: "https://open.spotify.com/album/3pYRPmrFNBhewVtiN6DBh7",
                artists: [
                {
                    uri: "/artists/1"
                }
                ]
            }

### Get a Release [GET]
+ Parameters
    + releaseId (id) - ID of the Release

+ Response 200
[Release][]

## Search Release [/releases/{releaseName}]

+ Model (application/json)
            + Headers
              Location: http://downing.club/releases/Grow

    + Body
    
            [
                {
                    medium_image: "https://i.scdn.co/image/84fa3ab218c3ab1a6dd5b1333fdb507472d9b132",
                    large_image: "https://i.scdn.co/image/bb6bb58b42afeb0fdd13922ec0d138e6734421e1",
                    small_image: "https://i.scdn.co/image/c62b0a6c13233672632b95da7a80200a56d7d189",
                    type: "album",
                    songs: [
                    {
                        uri: "/songs/1"
                    },
                    {
                        uri: "/songs/2"
                    },
                    {
                        uri: "/songs/3"
                    },
                    {
                        uri: "/songs/4"
                    },
                    {
                        uri: "/songs/5"
                    },
                    ],
                    id: 1,
                    year: 2015,
                    uri: "/releases/1",
                    name: "Grow",
                    spotify_url: "https://open.spotify.com/album/3pYRPmrFNBhewVtiN6DBh7",
                    artists: [
                    {
                        uri: "/artists/1"
                    }
                    ]
                }
            ]

### Search a Release [GET]
+ Parameters
    + releaseName (String) - Name of the Release

+ Response 200
[Search Release][]

# Group Concert

Any concert the Artist will take part in.

## Concert [/concerts/{concertId}]

+ Model (application/json)
            + Headers
              Location: http://downing.club/concerts/2

    + Body

            {
                "id": 4,
                "name": "Relapse",
                "year": "2010"
            }

### Get a Concert [GET]
+ Parameters
    + concertId (id) - ID of the Concert

+ Response 200
[Concert][]



