FORMAT: 1A
HOST: http://downing.club/

# Music-Mecca API

Music Mecca is a source for information about musicians and bands, as well as the music they release.

# Group Artists

Artists are all musicians stored in our database. That includes solo artists or bands. 

## Artist Collection [/artists]

+ Model (application/json)

    + Body

        {
            "count": 2,
            "results": [
                {
                    "id": 1,
                    "name": "Taylor Swift",
                    "bio": "Taylor Swift bio",
                    "photo": Raw photo data,
                    "videos": [
                        {
                            "id": 1,
                            "name": "Too Cool For School",
                            "year": 1989
                        }
                    ],
                    "label": {
                        "id": 1,
                        "name": "Big Machine Records",
                        "bio": "Bio goes here"
                    },
                    "awards": [
                        {
                            "id": 1,
                            "name": "Album of the Year",
                            "year": "2015"
                        },
                        {
                            "id": 1,
                            "name": "Billboard Top 40",
                            "year": "2006"
                        }
                    ],
                    "concerts": [
                        {
                            "id": 1,
                            "name": "1989 Tour",
                            "location": "Austin",
                            "date": "2015-07-04 13:00:00-00"
                        },
                        {
                            "id": 1,
                            "name": "Warp Tour",
                            "location": "Alton",
                            "date": "2015-31-04 16:00:00-00"
                        }
                    ],
                    "releases": [
                        {
                            "id": 1,
                            "name": "Too Cool For School",
                            "year": 1989
                        },
                        {
                            "id": 1,
                            "name": "Just Dance",
                            "year": 2010
                        }
                    ]


                }
            ]
        }

### List All Artists [GET]

+ Response 200

    [Artist Collection][]


## Artist [/artist/{artist_id}]
    + song_id (number) - ID of the song in the form of an integer

### View Artist Info [GET]

+ Response 200 (application/json)

        {
            "id": 00001
            "name": "Taylor Swift"
            "bio": "Taylor Swift bio"
            "photo": Raw photo data
            "videos": [00001]
            "label": 00001
            "awards": [00001]
            "concerts": [00001]
            "releases": [00001]
        }

## Song [/song/{song_id}]
    + song_id (number) - ID of the song in the form of an integer

### View Song Info [GET]

+ Response 200 (application/json)


        {
            "id": 0001
            "name": "Bad Blood"
            "lyrics": "Lyrics go here"
            "artist": [00001, 00002]
            "release": [00001, 000004]
        }

## Award [/award/{award_id}]
    + award_id (number) - ID of the award in the form of an integer

### View Award Info [GET]

+ Response 200 (application/json)

        {
            "id": 00001
            "name": "Album of the Year"
            "year": "2015"
            "artist" : [00001]
        }

## Label [/label/{label_id}]
    + label_id (number) - ID of the label in the form of an integer

### View Label Info [GET]

+ Response 200 (application/json)

        {
            "id": 00001
            "name": "Big Machine Records"
            "bio": "Bio goes here"
            "artist": [00001, 00003, 00005]
        }

## Release [/release/{release_id}]
    + release_id (number) - ID of the release in the form of an integer

### View Release Info [GET]

+ Response 200 (application/json)

        {
            "id": 00001
            "name": "1989"
            "artist": [00001]
        }

## Concert [/concert/{concert_id}]
    + concert_id (number) - ID of the concert in the form of an integer

### View Concert Info [GET]

+ Response 200 (application/json)

        {
            "id": 00001
            "name": "1989 Tour"
            "location": "Austin"
            "date": "2015-07-04 13:00:00-00"
            "artist": [00001]
        }

