<div>
    <div class="artist_release">
        <img src="images/placeholder.png"></img>
        <i>Album name</i>
        Release year
    </div>
    <div class="artist_release">
        <img src="images/placeholder.png"></img>
        <i>Album name</i>
        Release year
    </div>
    <div class="artist_release">
        <img src="images/placeholder.png"></img>
        <i>Album name</i>
        Release year
    </div>
    <div class="artist_release">
        <img src="images/placeholder.png"></img>
        <i>Album name</i>
        Release year
    </div>
    <div class="artist_release">
        <img src="images/placeholder.png"></img>
        <i>Album name</i>
        Release year
    </div>
    <div class="artist_release">
        <img src="images/placeholder.png"></img>
        <i>Album name</i>
        Release year
    </div>
    <div class="artist_release">
        <img src="images/placeholder.png"></img>
        <i>Album name</i>
        Release year
    </div>
    <div class="artist_release">
        <img src="images/placeholder.png"></img>
        <i>Album name</i>
        Release year
    </div>
</div>
