/* The main artist info panel */
#artist_selector {
    display: table;
    table-layout: fixed;
    width: 100%;
    color: white;
    text-align: center;
}

/* A link in the main artist info selector */
#artist_selector div {
    display: table-cell;
    padding: 10px 10px 10px 10px;
    background-color: #1E293E;
    text-decoration: none;
    color: white;
}

#artist_selector a:hover, #artist_selector .selected {
    background-color: #2B3A58;
    text-decoration: none;
}

/* An album cover and some info */
.artist_release {
    width: 150px;
    display: inline-block;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.artist-release-link:hover {
    text-decoration: none;
}

.artist_release img {
    width: 100%;
    height: 150px;
}

.artist_release i {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.event {
    display: table;
    border-spacing: 10px;
    border-bottom: 1px dotted #dbdbdb;
}

.event_info {
    display: table-cell;
    vertical-align: top;
    margin-left: 10px;
}

.calendar {
    display: table-cell;
    font-size: 40px;
    width: 2.5em;
    height: 2.5em;
    line-height: 2em;
    color: black;
    text-align: center;
    border: 1px solid #b7b7b7;
}

.calendar div {
    width: 100%;
    height: auto;
    line-height: 1em;
    background-color: #f53b48;
    font-size: 0.5em;
    color: white;
}

#discussion-input {
    width: 100%;
    text-align: right;
}

#discussion-input > textarea {
    width: 100%;
    height: 100px;
}
