body {
    padding-top: 50px;
}

#navbar {
    width: 100%;
    font-size: 25px;
    height: 2em;
    line-height: 2em;
    position: fixed;
    top: 0px;
    background-color: #1E293E;
    overflow: visible;
    z-index: 1000;
}

.navbutton {
    display: inline-block;
    height: 100%;
    padding: 10px 10px 10px 10px;
    background-color: #2B3A58;
    color: white;
}

.navbutton:hover {
    background-color: #24314A;
    color: #DBDBDB;    
}

.navbutton svg {
    display: block;
    float:left;
    height: 100%;
    fill: currentColor;
}

.navbutton div {
    display: inline-block;
    height: 100%;
    position: relative;
    top: -10px;
    margin-left: 10px;
}

@media screen and (max-width: 1000px) {
    .navbutton div {
        font-size: 0em;
        margin: 0px;
        transition: 0.5s;
    }
}

@media screen and (min-width: 1000px) {
    .navbutton div {
        font-size: 1em;
        margin-left: 10px;
        transition: 0.5s;
    }
}

#search {
    float: right;
}
