#fixed-width-container {
    padding-top: 50px;
}

#navbar {
    width: 100%;
    font-size: 25px;
    height: 2em;
    line-height: 2em;
    position: fixed;
    top: 0px;
    background-color: #1E293E;
    z-index: 1000;
}

.navbutton {
    float: left;
    height: 100%;
    padding: 10px;
    background-color: #2B3A58;
    color: white;
}

.navbutton:hover {
    background-color: #24314A;
    color: #DBDBDB;    
}

.navbutton > svg {
    display: block;
    float: left;
    height: 100%;
    fill: currentColor;
}

.navbutton > div {
    float: left;
    height: 100%;
    position: relative;
    top: -10px;
    margin-left: 10px;
}

@media screen and (max-width: 1000px) {
    .navbutton > div {
        margin-left: 0px;
        font-size: 0em;
        transition: 0.3s;
    }
}

@media screen and (min-width: 1000px) {
    .navbutton > div {
        margin-left: 10px;
        font-size: 1em;
        transition: 0.3s;
    }
}

.navlink {
    float: left;
    padding: 0px 10px 0px 10px;
    font-size: 0.75em;
    color: white;
}

.navlink-first {
    padding-left: 20px;
}

.navlink-last {
    padding-right: 20px;
}

.navlink:hover {
    color: #c7c7c7;
}

#search-bar {
    height: 100%;
    overflow: hidden;
}

#search-bar > div {
    width: 100%;
    height: 100%;
    max-width: 400px;
    float: right;
}

#search-form {
    height: 80%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#search-form > input {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0.75em;
    line-height: normal;
    padding: 0px 5px 0px 5px;
    background-color: white;
    border: none;
}

#search-dropdown {
    position: absolute;
    top: 50px;
    width: 100%;
}

.search-dropdown-section {
    padding: 5px;
    margin-top: -1px;
    background-color: #2B3A58;
    color: white;
    font-size: 0.7em;
    line-height: 1em;
}

.search-dropdown-entry {
    display: block;
    background-color: white;
    border-bottom: 1px solid #f2f2f2;
    color: black;
    text-decoration: none;
}

.search-dropdown-entry:last-child {
    border-bottom: none;
}

.search-dropdown-entry:hover {
    background-color: #f2f2f2;
    color: black;
    text-decoration: none;
}

.search-dropdown-entry > img {
    width: 80px;
    height: 80px;
    margin-right: 5px;
}

#search {
    float: right;
}

.show-at-700 {
    display: none;
}

.show-at-600 {
    display: none;
}

.show-at-500 {
    display: none;
}

@media screen and (max-width: 700px) {
    .hide-at-700 {
        display: none;
    }
    .show-at-700 {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .hide-at-600 {
        display: none;
    }
    .show-at-600 {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .hide-at-500 {
        display: none;
    }
    .show-at-500 {
        display: block;
    }
}

#more, #more:active, #more:visited {
    text-decoration: none;
    color: white;
}

#more:hover {
    text-decoration: none;
    color: #c7c7c7;
}

.dropdown {
    display: inline-block;
}
