<div id="fixed-width-container">
    <div class="section-head parallax">
        <div class="parallax-bg" data-speed="0.2"></div>
        <div class="parallax-fg">The World is a Beautiful Place & I Am No Longer Afraid To Die</div>
    </div>
    <div class="section">
        
        <!-- Artist Info -->
        <div class="overview">
            <img src="images/twiabp-prof.jpg">
            <div>
                <strong class="subsection text-uppercase">Label</strong>
                <a href="tinyengines.html">Tiny Engines</a>
                <strong class="subsection text-uppercase">Genre</strong>
                Emo
            </div>
        </div>

        <!-- Bio, releases, etc -->
        <div class="panel margin-top">

            <!-- Selector links -->
            <div id="artist_selector">
                <a href="#about">About</a>
                <a class="selected" href="#releases">Releases</a>
                <a href="#videos">Videos</a>
            </div>

            <!-- Selector content -->
            <div class="padded text-center">
                <a href="harmlessness.html">
                    <div class="artist_release">
                        <img src="images/harmlessness.jpg">
                        <i>Harmlessness</i>
                        2015
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="section-head parallax">
        <div class="parallax-bg" data-speed="0.2"></div>
        <div class="parallax-fg">Upcoming Concerts</div>
    </div>
    <div class="section">
        <div class="panel">
            <div class="event">
                <div class="calendar">
                    <div>Nov</div>
                    5
                </div>
                <div class="event_info">
                    <b>TWIABP, Foxing</b><br>
                    The Basement, Columbus OH
                </div>
            </div>
            <div class="event">
                <div class="calendar">
                    <div>Nov</div>
                    27
                </div>
                <div class="event_info">
                    <b>The World is a Beautiful Place & I Am No Longer Afraid To Die</b><br>
                    Masquerade, Atlanta GA
                </div>
            </div>
        </div>
    </div>
    <div class="section-head parallax">
        <div class="parallax-bg" data-speed="0.2"></div>
        <div class="parallax-fg">Discussion</div>
    </div>
    <div class="section">
        <div class="panel padded text-center">
            Discussion coming soon!
        </div>
    </div>
</div>
