<div id="fixed-width-container">
    <div class="section">
        Click on a column heading to change the sort order.
        <div class="panel margin-top">
            <!-- Label list -->
            <table id="label-table" class="table table-striped">
                <thead>
                    <tr><th>Labels</th></tr>
                </thead>
                <tbody>
                    <tr><td><a href="/label/tinyengines">Tiny Engines</a></td></tr>
                    <tr><td><a href="/label/bellaunion">Bella Union</a></td></tr>
                    <tr><td><a href="/label/deathwish">Deathwish</a></td></tr>
                </tbody>
            </table>
            <!-- Artist list -->
            <table id="artist-table" class="table table-striped">
                <thead>
                    <tr>
                        <th>Artist</th>
                        <th>Label</th>
                        <th>Genre</th>
                        <th>Latest release</th>
                        <th>Next event</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="/artist/twiabp">The World is a Beautiful Place & I Am No Longer Afraid To Die</a></td>
                        <td><a href="/label/tinyengines">Tiny Engines</a></td>
                        <td>Emo</td>
                        <td><a href="/release/harmlessness">Harmlessness</a></td>
                        <td>Nov 5</td>
                    </tr>
                    <tr>
                        <td><a href="/artist/clarence">Clarence Clarity</a></td>
                        <td><a href="/label/bellaunion">Bella Union</a></td>
                        <td>Electronic, Experimental</td>
                        <td><a href="/release/nonow">No Now</a></td>
                        <td>Dec 3</td>
                    </tr>
                    <tr>
                        <td><a href="/artist/deafheaven">Deafheaven</a></td>
                        <td><a href="/label/deathwish">Deathwish</a></td>
                        <td>Blackgaze</td>
                        <td><a href="/release/sunbather">Sunbather</a></td>
                        <td>Oct 29</td>
                    </tr>
                </tbody>
            </table>
            <!-- Release list -->
            <table id="release-table" class="table table-striped">
                <thead>
                    <tr>
                        <th>Releases</th>
                        <th>Artist</th>
                        <th>Year</th>
                        <th>Label</th>
                        <th>Genre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="/release/harmlessness">Harmlessness</a></td>
                        <td><a href="/artist/twiabp">The World is a Beautiful Place & I Am No Longer Afraid to Die</a></td>
                        <td>2015</td>
                        <td><a href="/label/tinyengines">Tiny Engines</a></td>
                        <td>Emo</td>
                    </tr>
                    <tr>
                        <td><a href="/release/nonow">No Now</a></td>
                        <td><a href="/artist/clarence">Clarence Clarity</a></td>
                        <td>2015</td>
                        <td><a href="/label/bellaunion">Bella Union</a></td>
                        <td>Electronic, Experimental</td>
                    </tr>
                    <tr>
                        <td><a href="/release/sunbather">Sunbather</a></td>
                        <td><a href="/artist/deafheaven">Deafheaven</a></td>
                        <td>2014</td>
                        <td><a href="/label/deathwish">Deathwish</a></td>
                        <td>Blackgaze</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
