<div id="fixed-width-container" class="padded" ng-controller="modelsController">
    <div class="text-center">
        <div id="models-container">
            <!-- Page title -->
            <h1>Showing all {{ modelType }}</h1>
            <!-- Order by links -->
            <div class="margin-top">Sort: <a href="" ng-click="setOrder('asc')">A-Z</a> | <a href="" ng-click="setOrder('desc')">Z-A</a></div>
            <!-- Contains previews -->
            <div class="panel padded">
                <!-- Model preview -->
                <div class="models-item ng-animate-disabled" ng-repeat="model in models">
                    <a ng-href="http://downing.club/{{ modelType }}/{{ model.id }}">
                        <div class="models-preview">
                            <div class="models-name">{{ model.name }}</div>
                            <div class="models-filter"></div>
                            <img class="models-image" ng-show="model.medium_image" ng-src="{{ model.medium_image }}"/>
                            <img class="models-image" ng-hide="model.medium_image" src="../images/placeholder.png"/>
                        </div>
                    </a>
                </div>
            </div>
            <!-- prev/next links -->
            <button class="models-pager" ng-disabled="currentPage <= 1" ng-click="goToPrev()">Prev</button>
            <button class="models-pager" ng-click="goToNext()">Next</button>
            <span> Page: {{ currentPage }} </span>
        </div>
    </div>
</div>
