<div id="fixed-width-container" class="padded">
    <h1>Showing all {{ modelType }}</h1>
    <div class="margin-top">Sort: <a href="" ng-click="setOrder('name')">A-Z</a> | <a href="" ng-click="setOrder('-name')">Z-A</a></div>
    <div class="panel text-justify">
        <div class="models-item" ng-repeat="model in models | orderBy:order">
            <a ng-href="http://downing.club/{{ modelType }}/{{ model.id }}">
                <div class="models-preview">
                    <div class="models-name">{{ ::model.name }}</div>
                    <div class="models-filter"></div>
                    <img class="models-image" src="{{ ::model.medium_image }}"/>
                </div>
            </a>
        </div>
    </div>
</div>
