<div id="fixed-width-container" ng-controller="releaseController">
    <div class="section">
        
        <!-- Release overview -->
        <div class="overview">
            <img ng-show="release.medium_image" ng-src="{{ ::release.medium_image }}"/>
            <img ng-hide="release.medium_image" src="../images/placeholder.png"/>
            <div>
                <strong class="subsection text-uppercase">Artist</strong>
                <a ng-href="http://downing.club/artists/{{ ::release.artist.id }}">{{ ::release.artist.name }}</a>
                <strong class="subsection text-uppercase">Title</strong>
                {{ ::release.name }}
            </div>
        </div>

        <!-- Track list -->
        <table id="track-list" class="margin-top">
            <tr>
                <th>#</th>
                <th id="track-title">Track</th>
                <th class="track-length">Length</th>
            </tr>
            <tr ng-repeat="song in release.songs | orderBy:'track_num' | orderBy:'disc_number'" ng-click="togglePlayback(song.preview_url)" ng-mouseenter="song.hover = true" ng-mouseleave="song.hover = false">
                <td>
                    <div class="track-num" ng-show="audio.src != song.preview_url || audio.ended">{{ ::song.track_num }}</div>
                    <!-- Play button -->
                    <div class="play-button" ng-show="(!showPause(song.preview_url) && audio.src == song.preview_url && !audio.ended) || (song.hover && (audio.src != song.preview_url || audio.ended))">
                        <span class='glyphicon glyphicon-play'></span>
                    </div>
                    <!-- Pause button -->
                    <div ng-show="showPause(song.preview_url)">
                        <span class='glyphicon glyphicon-pause'></span>
                    </div>
                </td>
                <td>{{ ::song.name }}</td>
                <td class="track-length">{{ ::song.duration | millisToMinutes }}</td>
            </tr>
        </table>
    </div>
</div>
