<div id="fixed-width-container">
    <!-- Artists -->
    <div class="section" ng-show="results.artists.length">
        <h1>Artists</h1>
        <div class="models-item ng-animate-disabled" ng-repeat="artist in results.artists">
            <a ng-href="http://downing.club/artists">
                <div class="models-preview">
                    <div class="models-name">{{ ::artist.name }}</div>
                    <div class="models-filter"></div>
                    <img class="models-image" src="{{ ::artist.small_image }}"/>
                </div>
            </a>
        </div>
    </div>
    <!-- Labels -->
    <div class="section" ng-show="results.labels.length">
        <h1>Labels</h1>
        <div class="models-item ng-animate-disabled" ng-repeat="label in results.labels">
            <a ng-href="http://downing.club/labels">
                <div class="models-preview">
                    <div class="models-name">{{ ::label.name }}</div>
                    <div class="models-filter"></div>
                    <img class="models-image" src="{{ ::label.small_image }}"/>
                </div>
            </a>
        </div>
    </div>
    <!-- Releases -->
    <div class="section" ng-show="results.releases.length">
        <h1>Releases</h1>
        <div class="models-item ng-animate-disabled" ng-repeat="release in results.releases">
            <a ng-href="http://downing.club/releases">
                <div class="models-preview">
                    <div class="models-name">{{ ::release.name }}</div>
                    <div class="models-filter"></div>
                    <img class="models-image" src="{{ ::release.small_image }}"/>
                </div>
            </a>
        </div>
    </div>
</div>
