<div id="bg-2" class="parallax-bg splash-bg" data-speed="0.2"></div>
<div id="bg-1" class="splash-bg" data-speed="0.1"></div>
<div id="splash">
    <h1>Welcome to Music Mecca</h1>
    <a href="/artists"><div class="splash-link">Artists</div></a>
    <a href="/labels"><div class="splash-link">Labels</div></a>
    <a href="/releases"><div class="splash-link">Releases</div></a>
    <a href="/about"><div class="splash-link">About</div></a>
</div>
<div id="splash-footer">
    Tall Film font by Graham Meade<br>
    Mecca and Search icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
</div>
