<div id="video-bg" class="parallax-bg" data-speed="0.2">
    <video loop muted autoplay>
        <source src="videos/splash.webm" type="video/webm">
    </video>
</div>
<div id="splash">
    <h1>Welcome to Music Mecca</h1>
    <div>
        This site is currently under construction.<br>
        Here are some pages you can look at right now:<br>
        <a href="/about">About</a> 
        <a href="/models">Models</a>
    </div>
</div>
<div id="splash-shelf">
    <div>
        Tall Film font by Graham Meade<br>
        Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
    </div>
</div>
